.container {
    max-width: 1262px;
    padding: 0 30px;
    margin: 0 auto;
}

.site-container {
    background-color: rgb(246, 246, 246);
    overflow: hidden;
    /*обрезать контент по всем сторонам*/
}

.flex {
    display: flex;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*скрыть крестик*/


.header {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    text-align: center;
    /*padding: 24px 0;
	чтобы в будущем могли изменить фон хедера и всё было по центру*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.88);
}


.header__logo {
    width: 55px;
    /*height: 50px;
    left: 525px;
    top: 48px;*/
    background: url(/img/logo.png);
    border-radius: 0px;
    margin-right: 37px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    align-items: center;

}



.header__logo__descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 771px;
}

.section__first {
   margin-top: 162px;
   background-color: rgba(0, 0, 0, 0.88);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    /*gap: 35px;*/
}

.video__section__first__left {
    margin-left: 80px;
    margin-right: 55px;
    max-width: 769px;
    max-height: 497px;
}



.section__first__right {
    max-width: 750px;
    margin-left: 55px;
}

.section__first__right h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 110% */
    letter-spacing: 0.8px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.section__first__right h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #FFFFFF;
    word-wrap: break-word;
    letter-spacing: 0em;
    line-height: 0.9;
    font-size: 60px;
    font-family: "BebasNeueRegular";
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 23px;
}

.accent {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    /* identical to box height, or 131% */
    color: #EE1D24;
}

.section__first__right__descr {
    max-width: 779px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    color: #fff;
    word-wrap: break-word;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1;
    border-left: 4px solid red;
    padding-left: 6px;
    margin-bottom: 22px;
}

.timer {
    list-style-type: none;
}

.timer__items {
    display: flex;
    font-size: 48px;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #E53734;
}

.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    list-style-type: none;
}

.timer {
    margin-bottom: 200px;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
}

.digits {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
    font-family: "Uni Sans", Impact, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: rgb(229, 55, 52);
    font-size: 46px;
}

.label {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Fira Sans Light', sans-serif;
    color: #FFF;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    margin: 2px 0 6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.reasons__item {
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 25%);
}

.lesson__item {
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 25%);
}

.section__reasons {
    margin-bottom: 80px;
}

.section__reasons__title {
        margin-bottom: 20px;
}


.section__reasons__title h4 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    word-wrap: break-word;
    text-align: center;
    font-size: 56px;
    box-sizing: border-box;
    font-family: "BebasNeueRegular";
   
}
.section__reasons img {
    max-width: 84px;
    max-height: 84px;
    margin-right: 25px;
}

.reasons__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


iframe {
    position: absolute;
}

.video__img {
max-width: 769px;
max-height: 497px;
}

.iframe {
    margin-top: -450px;
    margin-left: 65px;
}

.iframe {
    margin-top: -453px;
    margin-left: -395px;
    text-align: center;
}

.line {
        width: 80%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        position: absolute;
        margin-top: -60px;
    }

.line {
   margin-bottom: 20px;
        width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.btn.f-btn.button-sm {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    min-height: 46px;
}

.btn.f-btn.button-lg {
    padding-left: 70px;
    padding-right: 70px;
    min-height: 74px;
    font-size: 20px;
}

.btn.f-btn.button-md {
    padding-left: 60px;
    padding-right: 60px;
    min-height: 60px;
    font-size: 16px;
}

.lt-menu .btn.f-btn.button-md {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 20px;
    font-size: 14px;
}

.lt-menu .btn.f-btn.button-sm {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    min-height: 18px;
}

.lt-menu .btn.f-btn.button-lg {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 47px;
    font-size: 18px;
}

.area .cont, .area .node {
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0!important;
    position: relative;
}

.node0 > .wrapper1 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}
.area .cont, .area .node {
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0!important;
    position: relative;
}

.node node18 widget widget-line {
    position: absolute;
}

   .f-input {
        margin: 0;
        font-family: 'Roboto',sans-serif;
        margin: 0;
        font-family: 'Roboto',sans-serif;
        padding: 20px 440px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.33;
        width: 100%;
        border: 0 none;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    }

    .error-message {
        padding: 15px 400px;
        font-size: 14px;
    }

.form-result-block.error {
    max-width: 80%;
    background: indianred;
    color: white;
    margin: 0 auto;
    margin-bottom: 15px;
}

.button__field-content {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 9, 0);
    box-shadow: rgb(13 12 13) 0px 0px 8px 0px;
    border-radius: 6px !important;
    width: 331px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.adress {
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.field-content {
        padding-bottom: px;
        margin: 0 auto;
        max-width: 70;
}

.bacgr {
    background-image: url(/img/background.jpg);
    background-color: rgba(0, 0, 0, 0.88);
}
.lesson{
    margin-bottom: 80px;
  }

  .lesson__title {
    margin-bottom: 5px;
}


  .lesson__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
}

.lesson__item__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 37px;
        line-height: 53px;
        color: #333333;
        margin-bottom: 45px;
    }

.lesson__title {
margin-bottom: 10px;
}

.lesson__title h4 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    word-wrap: break-word;
    text-align: center;
    font-size: 56px;
    box-sizing: border-box;
    font-family: "BebasNeueRegular";
}
.btn__lesson__pink {
background-color: rgb(209, 121, 174);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(192, 72, 144);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.btn__lesson__blue {
    background-color: rgb(147, 187, 224);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(89, 152, 208);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.btn__lesson__seashel {
        background-color: rgb(200, 186, 172);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-color: rgb(170, 149, 127);
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 28px;
        padding-right: 28px;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }

.btn__lesson__azure {
    background-color: rgb(109, 204, 195);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(65, 185, 173);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}


.lesson__title__descr {
        margin-top: 20px;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        font-family: "TTNorms Regular";
        text-align: center;
    }

.accent__lesson {
    color:  rgb(238, 29, 36);
}

p.lesson__item__question {
    margin-bottom: 33px;
    -webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
line-height: 1.1;
color: inherit;
word-wrap: break-word;
font-weight: 700;
font-family: "Bebas Neue Book";
box-sizing: border-box;
font-size: 18px;
}

.lesson__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*2 колонки по 50%*/
    column-gap: 30px;
    /*отступ между колонками*/
    background-color: rgb(255, 255, 255);
}

.lesson__item__descr {
    margin-bottom: 30px;
}

.lesson__item:not(:last-of-type) {
    margin-bottom: 60px;
}

.lesson__item__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: max-content;
}

.lesson__item--reverse .lesson__item__col:first-child {
    order: 2;
    /*второе положение*/
}

.lesson__item--reverse .lesson__item__col:first-child {
    order: 1;
    /*первое положение*/
    /*обращаемся к реверс говорим-ты вторая колонка*/
}

.lesson__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--color-grey);
}

.lesson__title__descr {
    font-family: "TTNorms Regular";
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 60px;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 1.4;
    line-height: 150%;
    color: #333;
    
}


img.lesson__image {
    max-width: 428px;
}

.reviews__title {
    margin-bottom:10px;
    text-align: center;
    font-size: 56px;
    font-family: "Bebas Neue Regular";
}

.reviews__descr {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.4;
    font-family: "TTNorms Regular";
    font-size: 16px;
    font-weight: 700;
}

.line__title {
    margin-bottom: 20px;
    width: 80%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
